In [1]:
import pandas as pd
import numpy as np

#### Add cluster_km to data for modelling

In [5]:
# Read from extracted data
ana = pd.read_csv('flights_cleaned_no_outliers_2022-10-26_1451.csv')

In [8]:
# Take copy to measure data loss after clean-up
data_ana = ana.copy()

In [9]:
# Read from extracted data
silvia = pd.read_csv('flights_silvia_2022-10-26_2220.csv')

In [10]:
# Take copy to measure data loss after clean-up
data_silvia = silvia.copy()

In [11]:
data_silvia.columns

Index(['Unnamed: 0', 'crs_elapsed_time', 'air_time', 'distance',
       'mean_dep_delay_carrier_origin_month',
       'mean_arr_delay_carrier_origin_month',
       'mean_dep_delay_carrier_origin_week',
       'mean_arr_delay_carrier_origin_week',
       'mean_dep_delay_carrier_origin_date',
       'mean_arr_delay_carrier_origin_date',
       'mean_dep_delay_carrier_origin_date_t-1_week',
       'mean_arr_delay_carrier_origin_date_t-1_week',
       'mean_dep_delay_carrier_origin_date_t-1_week_week_number',
       'mean_arr_delay_carrier_origin_date_t-1_week_week_number',
       'origin_region_Midwest', 'origin_region_Northeast',
       'origin_region_South', 'origin_region_West', 'dest_region_Midwest',
       'dest_region_Northeast', 'dest_region_South', 'dest_region_West',
       'arr_hrs_ctg_Afternoon', 'arr_hrs_ctg_Evening', 'arr_hrs_ctg_Morning',
       'arr_hrs_ctg_Night', 'dep_hrs_ctg_Afternoon', 'dep_hrs_ctg_Evening',
       'dep_hrs_ctg_Morning', 'dep_hrs_ctg_Night', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'haul_length_long', 'haul_length_medium', 'haul_length_short',
       'cluster_km'],
      dtype='object')

In [15]:
column = data_silvia['cluster_km']

In [17]:
data_ana = data_ana.join(column)

In [18]:
data_ana.shape

(563880, 52)

In [19]:
data_ana.columns

Index(['mkt_carrier_fl_num', 'op_carrier_fl_num', 'origin_airport_id',
       'dest_airport_id', 'dep_delay', 'arr_delay', 'crs_dep_time',
       'crs_arr_time', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'distance', 'month', 'fl_date_year', 'fl_date_week_number',
       'mean_dep_delay_carrier_origin_month',
       'mean_arr_delay_carrier_origin_month',
       'mean_dep_delay_carrier_origin_week',
       'mean_arr_delay_carrier_origin_week',
       'mean_dep_delay_carrier_origin_date',
       'mean_arr_delay_carrier_origin_date',
       'mean_dep_delay_carrier_origin_date_t-1_week',
       'mean_arr_delay_carrier_origin_date_t-1_week',
       'mean_dep_delay_carrier_origin_date_t-1_week_week_number',
       'mean_arr_delay_carrier_origin_date_t-1_week_week_number',
       'origin_region_Midwest', 'origin_region_Northeast',
       'origin_region_South', 'origin_region_West', 'dest_region_Midwest',
       'dest_region_Northeast', 'dest_region_South', 'dest_region_West',
       'arr_hrs_ctg_Afternoon', 'arr_hrs_ctg_Evening', 'arr_hrs_ctg_Morning',
       'arr_hrs_ctg_Night', 'dep_hrs_ctg_Afternoon', 'dep_hrs_ctg_Evening',
       'dep_hrs_ctg_Morning', 'dep_hrs_ctg_Night', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'haul_length_long', 'haul_length_medium', 'haul_length_short',
       'cluster_km'],
      dtype='object')

In [20]:
# Save the file to CSV
from datetime import datetime
datetime_now = datetime.now().strftime('%Y-%m-%d_%H%M')
filename = f'flights_modeling_{datetime_now}.csv'
print(filename)

flights_modeling_2022-10-26_2322.csv

In [21]:
# Save pd as csv
data_ana.to_csv('flights_modeling_2022-10-26_2322.csv', index=False)

#### Add PCA to data for modelling where cluster_km is already in

In [2]:
# Read from extracted data
data = pd.read_csv('flights_modeling_2022-10-26_2322.csv')

In [9]:
data.shape

(563880, 52)

In [18]:
pca_data = pd.read_csv('pca_2022-10-27_1056.csv')

In [19]:
pca_data.columns

Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38'],
      dtype='object')

In [8]:
pca_data.shape

(563880, 40)

In [14]:
pca_data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,29,30,31,32,33,34,35,36,37,38
0,0,-415.722878,4.787506,2.366434,1.953400,1.698777,-0.520627,-0.299450,-0.381755,0.525053,...,1.264732e-15,1.566174e-15,-2.754175e-15,-1.280779e-16,-1.112795e-15,9.243211e-16,-4.457624e-16,-1.085710e-15,-1.112086e-16,3.519826e-13
1,1,-546.225766,3.146570,3.056611,-0.583715,1.067324,-0.497392,-0.798764,-0.430385,-0.406010,...,-5.255027e-16,1.011063e-15,-3.170508e-15,1.494779e-16,-1.667906e-15,1.049221e-15,-1.001741e-15,-1.543352e-15,-3.750492e-16,1.286994e-13
2,2,-598.353811,11.033951,-0.045223,-1.379402,0.686631,-0.957482,-0.793347,-0.512247,-0.367431,...,2.724701e-16,-1.292650e-15,-2.726419e-15,-7.387005e-16,-1.980156e-15,9.659545e-16,-1.168275e-15,-1.578050e-15,-4.652548e-16,-5.815110e-14
3,3,-594.468310,-15.622597,-4.296403,1.637790,-2.217890,-0.972894,-0.717999,-0.478866,-0.505360,...,-1.993747e-16,-1.403672e-15,-2.948464e-15,-1.835890e-16,-3.104257e-15,-3.108020e-16,-2.417276e-15,-1.476569e-15,-2.206050e-15,-3.869617e-14
4,4,-459.840235,-22.123282,-8.191784,3.129288,2.367969,0.918942,-0.248884,-0.424236,0.458903,...,7.651316e-16,1.090067e-16,-3.364797e-15,5.935671e-16,-3.055685e-15,-3.454965e-16,-2.227323e-15,-1.253555e-15,-2.959841e-15,1.797513e-13

In [20]:
pca_data = pca_data[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38']]

In [21]:
pca_data.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38'],
      dtype='object')

In [23]:
data = data.join(pca_data)

In [24]:
data.shape

(563880, 91)

In [25]:
# Save the file to CSV
from datetime import datetime
datetime_now = datetime.now().strftime('%Y-%m-%d_%H%M')
filename = f'flights_modeling_{datetime_now}.csv'
print(filename)

flights_modeling_2022-10-27_1315.csv

In [27]:
# Save pd as csv
data.to_csv('flights_modeling_2022-10-27_1315.csv', index=False)